<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Titus Technology Portfolio</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap" rel="stylesheet">
  </head>
  <body>
    
    <div class="">
      <header class="header">
        <h3><a class="header-title" href="">Nile</a></h3>
        <ul class="header-options">
            <li class="header-option"><a class="" href="/">Home</a></li>
            <li class="header-option"><a class="" href="/about">About</a></li>
            <li class="header-option"><a class="" href="/contact">Contact</a></li>
        </ul>
      </header>    
    </div>
	<script src="app.js"></script>
  </body>
</html>