<div class="row">
            <div class="col">
                
                <h3>{{title}}</h3>
            </div>
            <div class="col">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>