<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Titus Technology Portfolio</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/maindisplay.css">
    <link rel="stylesheet" href="../css/about.css">
    <link rel="stylesheet" href="../css/technologiesdisplay.css">
    <link rel="stylesheet" href="../css/contact.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap" rel="stylesheet">
  <body>
      <header class="header">
        <h3><a class="header-title" href="">Portfolio</a></h3>
          <ul class="header-options">
            <li class="header-option"><a class="" href="/">Home</a></li>
            <li class="header-option"><a class="" href="#about">About</a></li>
            <li class="header-option"><a class="" href="#contact">Contact</a></li>
        </ul>
      </header>

      <div class="main-display">
        <div class="main-display-left">
          <h2 class="main-display-h2-1">Hi I'm</h2>
          <h1>Titus <span>Hrangthawng</span></h1>
          <h2 class="main-display-h2-2" main-display>An Aspiring Software Engineer</h2>
          <a class="view-project-link" target="_blank" href="https://dromedatabs-284cac28f0bb.herokuapp.com/">View My Project</a>
        </div>
        <div class="main-display-right">
          <img src="/images/profile.png" alt="" width="200px">
        </div>
      </div>

      <div id="about">
        <div class="about-right">
          <p class="about-title">About me</p>
          <p>I am a student at Western Michigan University studying Computer Science. My ultimate aspirations are to become a Software Engineer.
          </p>
          <div class="about-container">
            <div class="about-container-container">
              <p class="about-container-container-title" >Name</p>
              <p>Titus Hrangthawng</p>
            </div>
            <div class="about-container-container">
              <p class="about-container-container-title" >Education</p>
              <p>Current Sophmore At Western Michigan University</p>
            </div>
            <div class="about-container-container">
              <p class="about-container-container-title" >Email</p>
              <p>titushrangthawng@gmail.com</p>
            </div>
            <div class="about-container-container">
              <p class="about-container-container-title" >Employment</p>
              <p>Open</p>
            </div>
          </div>
        </div>
      </div>

      <div class="technologies-display">
        <h1>Technologies Used</h1>
        <div class="technologies-display-container">
            <div class="technologies-display-container-container">
              <img src="/images/html.png" alt="" width="75px">
              <p class="technologies-display-container-container-title">HTML</p>
            </div>
            <div class="technologies-display-container-container">
              <img src="/images/css.png" alt="" width="75px">
              <p class="technologies-display-container-container-title">CSS</p>
            </div>
            <div class="technologies-display-container-container">
              <img src="/images/javascript.png" alt="" width="75px">
              <p class="technologies-display-container-container-title">Javascript</p>
            </div>
            <div class="technologies-display-container-container">
              <img src="/images/nodejs.png" alt="" width="75px">
              <p class="technologies-display-container-container-title">Node JS</p>
            </div>
            <div class="technologies-display-container-container">
              <img src="/images/mongodb.png" alt="" width="75px">
              <p class="technologies-display-container-container-title">Mongo DB</p>
            </div>
            <div class="technologies-display-container-container">
              <img src="/images/expressjs.png" alt="" width="75px">
              <p class="technologies-display-container-container-title">Express JS</p>
            </div>
        </div>
      </div>

      <div id="contact">
        <h1>Contact Information</h1>
        <div class="contact-container">
            <div class="contact-container-container">
              <img src="/images/linkedin.png" alt="" width="75px">
              <a href="https://www.linkedin.com/in/titus-hrangthawng-11996623b" target="_blank" class="contact-link linked-in-profile-link">LinkedIn Profile</a>
            </div>
            <div class="contact-container-container">
              <h3>Phone Number</h3>
              <p>269-268-3097</p>
            </div>
            <div class="contact-container-container">
              <h3>Email</h3>
              <p>titushrangthawng@gmail.com</p>
            </div>
            <div class="contact-container-container">
              <h3>Github</h3>
              <p>Ripsky3</p>
            </div>
        </div>
        
      </div>

	<script src="app.js"></script>
  </body>
</html>